<!-- トップページ index.html -->

<!-- このページで使う名前空間（pipeline）の定義 -->
{{$pipeline := (dict "Config" . "Description" "某社のサイト")}}<!-- ページタイトル Title は不要 -->

<!-- ナビゲーションバーがいらないので共通ヘッダでなくHTMLヘッダとページヘッダだけ明示的に -->
{{template "html-header" $pipeline}}
{{template "page-header" $pipeline}}

<!-- HTMLコンテンツ本体 〜ここから〜 -->
トップページです

<p>
    <a href="news/">新着情報</a>
</p>
<p>
    <a href="tech/">技術ブログ</a>
</p>
<p>
    <a href="diary/">日記</a>
</p>
<!-- HTMLコンテンツ本体 〜ここまで〜 -->

<!-- ヘッダに対応するフッタ（共通フッタでも中身は同じ） -->
{{template "page-footer" $pipeline}}
{{template "html-footer" $pipeline}}
